.header {
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  max-width: 880px;
  margin: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 1070px) {
  .header {
    padding: 0;
  }
}
