.card__trash-button {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url("../../../images/card-trash.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.4s;
}

.card__trash-button:hover {
  opacity: 0.5;
}
