.card__text-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 21px;
  padding-right: 15px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}
