.popup__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 30px;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-top: 0;
  border-right: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
